<div class="outer-game-container">
    <div class="game-container">
        <div class="game-title">
            <h1>Round One</h1>
        </div>
    
        <div class="flex-container">
            <div class="container" id="generatedRoute">
                <!-- style="display: none;" -->
                <video src="" id="responseVideo" autoplay playsinline >
                    <!--<source src="../../assets/copyrightfreemusic.mp4"> -->
                </video>
            </div>
            
            <div class="map-container" id="map">
                <p>google map</p>
            </div>
        </div>
        <div class="game-button">
            <!-- enter (click)="scorePage()" [disabled]="!guessMade" into line below-->
            <a class="btn">Submit Guess</a>
        </div>
    </div>
    <span class="align-player-cards">
        <app-player-card></app-player-card>
        <app-player-card></app-player-card>
    </span>
</div>





