<div class="container">
    <h1>Whereabouts Help</h1>
    <p>
        Whereabouts is a game designed to improve map skills. 
        The invention of GPS navigation has made map skills less mainstream and borderline obsolete. 
        This game is designed to reduce the over reliance of GPS by improving the users map skills and developing the art of navigation.
    </p>
    <img src="assets/img/bar.png">
    <p>
        Whereabouts is a multiplayer competitive map game played on your computer. 
        To get started simply enter your end location in the search bar. 
        After this you will be brought to a screen asking how many players, how many rounds and how many miles away from the end location you want. 
        Each player will have their own game card, displaying their name, the amount of points they have, the amount of tokens they have as well as a button to guess the location or the use of a token. 
    </p>
    <img src="assets/img/autocomplete.png">
    <p>
        A token allows the user to restart the video on the gameplay screen. When a user knows where the “car” is in relation to the end location entered at the beginning, the user simply presses the guess button on their own player card. Next the user places their guess on the google map window and clicks the big guess button when they want to finalize their guess. If they are within 8000 feet then that user wins the round, otherwise the round continues and other players still have a chance to guess. When a user guesses correctly the updated leaderboard shows up and the winner of the round enters the next end location and the mile radius away from the end location. 
    </p>
    <img src="assets/img/options.png">
    <p>
        As soon as a user guesses the location correctly, or the “car” has reached the end location we go to the next round. The game ends when we have gone through all the total rounds entered at the beginning of the game. Once we finished the final round the leaderboard shows up with the final scores of each player. The player with the most points wins.
    </p>
    <img src="assets/img/gameview.png">
</div>
