<div class="container">
    
    <div class="logo-and-search">
        <img src="assets/img/whereabouts-logo.png"/>
        <br>
    </div>

    <div class="players-interface">
        <h2>How Many Players?</h2>
    </div>
    <div class="players-interface">
        1 &nbsp;<mat-slider min="1" max="5" step="1" value="1" [thumbLabel]="true"></mat-slider>&nbsp; 5
    </div>
    <br>

    <div class="players-interface">
        <h2>How Many Rounds?</h2>
    </div>

    <div class="players-interface">
       1 &nbsp; <mat-slider min="1" max="10" step="1" value="1" [thumbLabel]="true"></mat-slider>&nbsp; 10
    </div>
    <br>

    <div class="players-interface">
        <h2>How Far (Miles)?</h2>
    </div>

    <div class="players-interface">
        <mat-form-field appearance="fill">
            <input matInput 
                placeholder="Max: 3000"
                type="number"
                min="1"
                max="3000">
        </mat-form-field>
    </div>

    <div class="search-button">
        <button mat-button color="primary" routerLink="/gameview">Start</button>
    </div>
</div>
